<!DOCTYPE html>
<html>
    <head>
        <title>little planet</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">        
        <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    </head>
    <body>
        <header class="top container">
            <div class="title col-9">
                <h1>
                    Hello
                </h1>
                 <p>
                     Welcome to my little planet
                  </p>
            </div>
            <div class="logo col-3">
                <img src="img/LOGO.png" alt="logo">
            </div>
        </header>
        <section class="intro container">
            <article class="col-12">
                <h6 class="mini">
                    My name is
                </h6>
                <p class="big">
                    Deng Haolin
                </p>
            </article>
            <article class="col-6">
                <h6 class="mini">
                    I'm an
                </h6>
                <p class="big">
                    Assistant Product Manager
                </p>
            </article>
            <article class="col-6">
                <h6 class="mini">
                    Working in
                </h6>
                <p class="big">
                    Tuandai.com
                </p>
            </article>
            <article class="col-6">
                <h6 class="mini">
                    I love 
                </h6>
                <p class="big">
                    Interaction Design
                </p>
            </article>
            <article class="col-6">
                <h6 class="mini">
                    and 
                </h6>
                <p class="big">
                    Font-end Develope
                </p>
            </article>
        </section>
        <section class="works container">
            <header class="col-12 mini">
                Here are some of my works:
            </header>
            <figure class="col-6 px">
                <img  
                    src="img/smart_watch.png"
                    srcset="img/smart_watch.png 1x, img/smart_watch_2x.png 2x"
                    alt="concept design">
                <figcaption>
                    Smart Watch Concept Design
                </figcaption>
            </figure>
            <figure class="col-6">
                <img 
                    src="img/guildline.png"
                    srcset="img/guildline.png 1x, img/guildline_2x.png 2x"
                    alt="style guildline">
                <figcaption>
                    Style Guildline for m.jobcn.com
                </figcaption>
            </figure>
            <figure class="col-6">
                <img 
                    src="img/NEWCUSTOMER.png"
                    srcset="img/NEWCUSTOMER.png 1x, img/NEWCUSTOMER_2x.png 2x"
                    alt="product thinking">
                <figcaption>
                    New customer experience modify 
                </figcaption>
            </figure>
            <figure class="col-6"> 
                <img
                    src="img/minisite.png"
                    srcset="img/minisite.png 1x, img/minisite_2x.png 2x"
                    alt="personal website">
                <figcaption>
                    Minisite for myself
                </figcaption>
            </figure>
        </section>
        <footer class="row container">
            <p class="contact col-12 mini">
                contact me 
            </p>
            <div class="col-6">
                <i class="iconfont">&#xe601;</i>
                <span>Wechat: kkk620520</span>
            </div>
            <div class="col-6">
                <i class="iconfont">&#xe600;</i>               
                <span>E-mail: houlam@live.com</span>
            </div>
        </footer>
    </body>
</html>
