<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <style>
            html {
                background-color: #e6e6e6;
            }

            .info {
                /*margin-top: 20px;
                padding-top: 50px;*/
                margin-left: 50px;
                margin-top: -10px;
                margin-left: 50px;
                color: rgb(66, 112, 183);
            }

            .blue {
                color: rgba(66, 112, 183, 0.6);
            }

            .gray {
                color: rgba(100, 100, 100, 0.8);
            }

            .lightGray {
                color: rgba(100, 100, 100, 0.3);
                font-size: 14px;
            }

            .black {
                color: rgba(0, 0, 0, 1);
            }

            h1{
                display: inline-block;
                font-size: 24px;
                margin-right: 8px;
                color: black;
            }

            h2 {
                display: inline-block;
                font-size: 18px;
                margin-right: 10px;
                font-weight: normal;
            }

            h3 {
                font-size: 12px;
                font-weight: normal;
                color: rgba(100, 100, 100, 1);
                margin: 30px 0 0 0;
            }

            ul {
                display: inline-block;
                padding-left: 0px;
            }

            li {
                list-style-type: disc;
                display: inline-block;
                margin-right: 10px;
                height: 18px;
                /*font-size: 16px;*/
            }

            body {
                width: 780px;
                margin: 10px auto;
                background-color: white;
                padding: 0 0 20px 0;
            }

            .topbg {
                margin-top: 10px;
                /*padding-top: 50px;*/
            }

            .topbg span {
                padding: 10px 0 0 50px;
                display: block;
                color: rgba(230, 230, 230, 0.6);
                font-family: 'Times New Roman', Times, serif;
            }

            .topbg span+span {
                font-size: 20px;
            }

            .topbg span+span+span {
                font-size: 24px;
                margin-bottom: -42px;
            }

            .bottombg span {
                padding: 10px 0 0 0;
                display: block;
                color: rgba(230, 230, 230, 0.6);
                font-family: 'Times New Roman', Times, serif;
            }

            .bottombg span+span {
                font-size: 20px;
            }

            .tag {
                color: rgba(100, 100, 100, 0.4);
                margin-right: 4px;
                font-size: 13px;
            }

            .campany {
                color: rgba(0, 0, 0, 1);
                margin-bottom: -10px;
            }

            .job {
                font-size: 16px;
                color: rgba(0, 0, 0, 1);
                margin: 0px 0 0 0;
                font-weight: bold;
            }

            .dot {
                width: 5px;
                height: 5px;
                background-color: rgba(100, 100, 100, 0.4);
                border-radius: 50%;
                vertical-align: middle;
                display: inline-block;
            }

            .item {
                color: rgba(100, 100, 100, 0.8);
                margin: 8px 50px 8px 0;
                border-left: 3px solid rgba(66, 112, 183, 0.3);
                padding: 25px 25px 15px 25px;
                font-size: 14px;
                background-color: rgba(150, 120, 120, 0.1);
                line-height: 20px;
                word-wrap: break-word;
            }

            .itemname {
                font-size: 16px;
                color: black;
                display: inline-block;
                margin-bottom: 8px;
            }

            .blank {
                height: 50px;
            }

        </style>
    </head>
    <body>
        <div class="topbg">
            <span>abcdefghijklnmopqrstuvwxyz1234567890</span>
            <span>abcdefghijklnmopqrstuvwxyz1234567890</span>
            <span>abcdefghijklnmopqrstuvwxyz1234567890</span>
        </div>
        <div class="info">
            <h1>邓浩林</h1>
            <ul class="gray">
                <li>·男</li>
                <li>·24岁</li>
                <li>·1992年10月</li>
                <li>·天蝎座</li>
            </ul>
        </div>
        <div class="info">
            <h2>华侨大学</h2>
            <ul class="blue">
                <li>·本科</li>
                <li>·工业设计</li>
                <li>·2014届</li>
                <li>·现居东莞</li>
            </ul>
        </div>
        <div class="info">
            <ul class="bule">
                <li><span class="tag">TEL:</span>18576820561</li>
                <li><span class="tag">E-mail:</span>houlam@live.com</li>
                <li><span class="tag">Wechat:</span>kkk620520</li>
            </ul>
        </div>
        <div class="info">
            <h3>技能及语言</h3>
            <ul class="black">
                <li><span class="tag">+</span>Axure</li>
                <li><span class="tag">+</span>illustrator</li>
                <li><span class="tag">+</span>AE</li>
                <li><span class="tag">+</span>HTML&CSS</li>
                <li><span class="tag">+</span>英语<span class="tag">六级</span></li>
            </ul>
        </div>
        <div class="info">
            <h3>工作及项目经验</h3>
            <h2 class="campany">卓博人才网</h2><span class="tag">2014/7 ~ 2015/6</span><br/>
            <ul class="lightGray">
                <li>http://www.jobcn.com</li>
                <li>网络招聘</li>
                <li>广东东莞</li>
            </ul><br/>
            <p class="job">网站策划<span class="tag"> 负责企业端及移动端产品及交互优化</span></p><br/>
            <p class="item">
                <span class="itemname">企业产品网络商城</span></br>
                1234567618456465440641451444564054544544044646444404544464641111111111111111111111111222
                22222222222
            </p>
            <p class="item">
                <span class="itemname">卓博校园招聘</span></br>
            </p>
            <p class="item">
                <span class="itemname">职位刷新及品牌标识产品升级</span></br>
            </p>
            <p class="item">
                <span class="itemname">掌上卓博4.0交互优化</span></br>
            </p>

            <div class="blank"></div>

            <h2 class="campany">团贷网</h2><span class="tag">2015/6 ~ 至今</span><br/>
            <ul class="lightGray">
                <li>http://www.tuandai.com</li>
                <li>网络金融</li>
                <li>广东东莞</li>
            </ul><br/>
            <p class="job">产品专员<span class="tag">  负责APP、微信及触屏版产品及交互优化</span></p><br/>
            <p class="item">
                <span class="itemname">APP</span></br>
            </p>
            <p class="item">
                <span class="itemname">微信端</span></br>
            </p>
            </p>
        <div class="bottombg">
            <span>abcdefghijklnmopqrstuvwxyz1234567890</span>
            <span>abcdefghijklnmopqrstuvwxyz1234567890</span>
        </div>
    </body>
</html>
