<!DOCTYPE = html>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
	</head>
	<body>
		<div id="app">
    		{{ message }}
		</div>
		<iframe src='https://webchat.botframework.com/embed/Pinpon?s=mrqAtt_Jxz0.cwA.fOY.UQhR2sX-z12jdVSIpnrF8XRIizdciyWiIFyPXPFi01I'></iframe>
	</body>
</html>