<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
		<script src="js/hello.js"></script>
	</head>
	<body>
		<div id="app">
    		{{ message }}
		</div>
	</body>
</html>
